*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f1f38a, #69f5de);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 2rem;
    border: darkgrey;
}

header,form{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 0.1rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #69f5de;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #69f5de;
    color: white;
}