*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #a927f5, #58c4b2);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 2rem;
    border: darkgrey;
}

header,form{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 0.1rem;
    font-size: 2rem;
    border: none;
    background: whitesmoke;

}

form button{
    color: #8f65fe;
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #ab6cf8;
    color: #f8f5f5;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: whitesmoke;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todo li{  /* integration of mark-button and trash-button*/
    flex: 1;
}


.trash-btn,
.complete-btn{
    background: #48f49f;
    color: #ffffff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-btn{
    background: #f98088;
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
